.background {
  background-size: cover;
  background-color: white;
  padding: 20px;
  margin: 0px;
}
.heading {
  color: black;
  font-weight: bold;
  padding-bottom: 30px;
}
.para-1 {
  color: black;
  padding-bottom: 30px;
}

.nameInput {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
  border-width: 1px;
  border-color: gray;
}
.noteInput {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 560px;
  height: 200px;
}
.onSubmitBtn {
  background-color: lightblue;
  color: white;
  border-radius: 10px;
  border-width: 0px;
  text-align: center;
  padding: 10px;
  width: 160px;
}
.hr_line {
  font-size: bold;
}
.form {
  display: flex;
  flex-direction: column;
}
.count-comment-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.count {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  height: 30px;
  width: 30px;
  margin-top: 22px;
}
.comments {
  color: black;
  padding-left: 5px;
}
.form-img {
  display: flex;
  flex-direction: row;
}
.img {
  height: 400px;
  width: 400px;
  background-size: cover;
  margin-left: 100px;
}
